@media only screen and (max-width: 768px) {
    .contact {
        width: 50% !important;
        left: 0 !important;
        bottom: 0 !important;
        position: relative !important;
        margin-top: 20px !important;
    }
}


.content {
  text-align: center;
  margin-top:  2vh;
}

body {
  background-color: #dbfbff;
}

img{
  height: calc(30vh);
  border: 5px solid gold;
}

.h1 {
  color: black;
  font-family: 'Georgia', serif;
  font-size:  40px;
}

.h2 {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 30px;
}

.p1 {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 27px;
}


.p2 a: link{
  color: black;
  font-family: 'Georgia', serif;
  font-size:  40px;
}

.p2 a:link {
  color: black;
}
.p2 a:visited {
  color: black;
}
.p2 a:hover {
  color: gold;
  transition:  0.2s all;
}


.p2 {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 21px;
}

ul {
  list-style-type:  none;
  margin:  0;
  padding: 0;
}

.battery {
  font-family:  'Georgia', serif;
  font-size:  20px;
}
.battery:hover{
  background-color:  #B0E0E6;
  color:  white;
  transition:  0.2s all;
}
.battery a:link {
  color: black;
}
.battery a:visited {
  color: black;
}
.battery a:hover {
  color: #32CD32;
  transition: 0.2s all;
}


.vmware {
  font-family:  'Georgia', serif;
  font-size:  20px;
}

.vmware:hover{
  background-color:  #0095D3;
  color:  white;
  transition: 0.2s all;
}

.vmware a:link {
  color: black;
}
.vmware a:visited {
  color: black;
}
.vmware a:hover {
  color: aqua;
  transition: 0.2s all;
}

.rise {
  font-family:  'Georgia', serif;
  font-size:  20px;
}

.rise:hover{
  background-color:  #F7B614;
  color:  white;
  transition: 0.2s all;
}
.rise a:link {
  color: black;
}
.rise a:visited {
  color: black;
}
.rise a:hover {
  color: yellow;
  transition: 0.2s all;
}

.verkada {
  font-family:  'Georgia', serif;
  font-size:  20px;
}

.verkada:hover{
  background-color:  darkturquoise;
  color:  white;
  transition: 0.2s all;
}

.verkada a:link {
  color: black;
}
.verkada a:visited {
  color: black;
}
.verkada a:hover {
  color: red;
  transition: 0.2s all;
}

.yahoo {
  font-family:  'Georgia', serif;
  font-size:  20px;
}

.yahoo:hover{
  background-color:  blueviolet;
  color:  white;
  transition: 0.2s all;
  opacity: 0.65;
}

.yahoo a:link {
  color: black;
}
.yahoo a:visited {
  color: black;
}
.yahoo a:hover {
  color: hotpink;
  transition: 0.2s all;
}


.resumeButton {
  background: #7ae9ff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-family:  'Georgia', serif;
  font-size:  18px;

  cursor:pointer;
}

.resumeButton:hover{
  background:  #FF0000;
  transition: 0.2s all;
}

.resumeButton:active{
  background:  #00ffff;
}

.musicButton {
  background: #FF0000;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-family:  'Georgia', serif;
  font-size:  18px;

  cursor:pointer;
}

.musicButton:hover{
  background:  #42d7f5;
  transition: 0.2s all;
}

.musicButton:active{
  background:  #00ffff;
}


.contact{
  display: flex;
  width:  15%;
  position: absolute;
  left:  calc(50% - 7.5%);
  margin:  auto;
  justify-content: center;
}

.contact a{
  width: 30px;
  height:30px;
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}

.contact a:hover{
  opacity:  0.5;
  transition-delay: 0.2s all;
}

.contact>#linkedin{
  background:  url('assets/linkedin.png') no-repeat;
  background-size:  30px 30px;
  flex: 0.33;
}

.contact>#email{
  background:  url('assets/email.png') no-repeat 50% 50%;
  background-size:  30px 30px;
  flex: 0.33;
}

.contact>#github{
  background:  url('assets/github.png') no-repeat 50% 50%;
  background-size:  30px 30px;
  flex: 0.33;
}